@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
  /* border: 1px solid #000; */
  float: left;
}

#header {
  position: fixed;
  width: 100vw;
  height: 50vh;
  background: url('../images/background_images/main1.JPG') no-repeat center center;
  background-size: cover;
  margin: auto auto;
}

.menu_line {
  border: 1px solid;
  transform: rotate(45deg);
}

.top_line {
  width: 8px;
  margin-left: 12px;
}

.center_line {
  width: 20px;
  margin-top: 3px;
}

.bottom_line {
  width: 8px;
  margin-top: 3px;
}

#menu_bar h4 {
  position: absolute;
  top: -3px;
  left: 38px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 11px;
}

#mainContents {
  position: absolute;
  margin-top: 50vh;
  width: 100%;
  height: 50vh;
  text-align: center;
}

.blog_contents {
  margin-bottom: 100px;
}

@media screen and (min-width: 1840px) {
  .blog_contents {
    display: block;
    margin-right: 124px;
    width: calc((100% - 506px)/5);
    height: calc(54vw/5);
    float: left;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1839px) {
  .blog_contents {
    display: block;
    margin-right: 124px;
    width: calc((100% - 380px)/4);
    height: calc(54vw/4);
    float: left;
  }
}

@media screen and (min-width: 951px) and (max-width: 1479px) {
  .blog_contents {
    display: block;
    margin-right: calc(20vw / 2 - 3px);
    width: calc((100% - 20vw)/3);
    height: calc(55vw/3);
  }
}

@media screen and (min-width: 700px) and (max-width: 950px) {
  .blog_contents {
    display: block;
    margin-right: 96px;
    width: calc((100% - 100px)/2);
    height: calc(60vw/2);
    float: left;
  }
}

.most_right_content {
  margin-right: 0px;
}

@media screen and (max-width: 700px) {
  .blog_contents {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 240px;
    height: 240px;
    float: none;
  }
}

.blog_contents a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.blog_contents img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_contents h2 {
  text-align: left;
  line-height: 0px;
  letter-spacing: 2px;
  font-size: 5px;
  font-weight: 300;
}

.blog_contents p {
  width: 120px;
  position: relative;
  top: -120px;
  left: 106%;
  transform: rotate(90deg);
  transform-origin: left center;
  color: #96bdb9;
  letter-spacing: 4px;
}

/* 5個並びのstyle */

@media screen and (max-width: 1839px) {
  .hiding_posts_5lt {
    display: none;
  }
}

/* 4個並びのstyle */

@media screen and (min-width: 1840px) {
  .hiding_posts_4gt {
    display: none;
  }
}

@media screen and (max-width: 1479px) {
  .hiding_posts_4lt {
    display: none;
  }
}

/* 3個並びのstyle */

@media screen and (min-width: 1480px) {
  .hiding_posts_3gt {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .hiding_posts_3lt {
    display: none;
  }
}

/* 2個並びのstyle */

@media screen and (min-width: 951px) {
  .hiding_posts_2gt {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  .hiding_posts_2lt {
    display: none;
  }
}

/* 1個並びのstyle */

@media screen and (min-width: 700px) {
  .hiding_posts_1 {
    display: none;
  }
}

/* 個別記事ページのスタイル↓ */

.close_btn {
  position: fixed;
  width: 25px;
  height: 25px;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.close_btn_line {
  border: 1px solid;
  border-color: rgba(168, 168, 168, 0.6);
  transform: rotate(45deg);
  margin-top: 10px;
  width: 25px;
  z-index: 999;
}

.reverse_cls_btn_line {
  margin-top: -2px;
  transform: rotate(135deg);
}

.main_background_img {
  position: fixed;
  width: 100%;
  z-index: 0;
}

.main_background_img img {
  width: 100%;
  object-fit: contain;
}

.contents_background {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  background-color: #fff;
  z-index: 100;
  text-align: center;
  padding-top: 100px;
}

.contents_all {
  width: calc(100% - 300px);
  height: auto;
  margin: 0 auto;
}

.contents_title {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 103px;
}

.contents_title time,
p {
  font-size: 10px;
  color: #96bdb9;
  margin-bottom: 8px;
  letter-spacing: 0.2em;
}

.title {
  display: block;
  /* font-family: YakuHanJP, "museo-sans", TazuganeGothicStdN-Thin, "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif; */
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.4em;
  color: #6d6c6c;
  font-size: 23px;
  line-height: 23px;
  margin-bottom: 30px;
  letter-spacing: 0.2em;
}

.contents_content {
  width: 100%;
  height: auto;
  margin: 0 auto 200px auto;
  max-width: 1000px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.07em;
  padding-bottom: 1px;
}

.contents_content img {
  display: block;
  margin: 0 auto 65px auto;
  width: 100% !important;
  height: auto;
  object-fit: cover;
}

.contents_content p {
  text-align: left;
  color: #080A11;
  line-height: 30px;
  letter-spacing: 0.07em;
  font-size: 100%;
  font-weight: 300;
  font-family: "museo-sans", sans-serif;
  margin: 0 130px 0 130px;
}

@media screen and (min-width: 601px) and (max-width:1000px) {
  .contents_content p {
    margin: 0 10% 120px 10%;
  }
}

@media screen and (max-width: 600px) {
  .main_background_img img {
    width: 100%;
    object-fit: fill;
  }
  .contents_background {
    width: 100%;
    background-color: #fff;
    text-align: left;
    padding-top: 65px;
  }
  .contents_all {
    width: 100%;
  }
  .contents_title {
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
    margin-bottom: 62px;
  }
  .contents_content {
    width: 100%;
    font-size: 13px;
    line-height: 30px;
    padding: 0 0 7px 0;
  }
  .contents_content p {
    margin: 0 30px 59px 30px;
    text-align: justify;
  }
}